Checks: '-*,bugprone-*,modernize-use-using,modernize-make-shared,modernize-make-unique,modernize-pass-by-value,readability-identifier-naming,google-readability-todo,readability-braces-around-statements,-bugprone-macro-parentheses,misc-unused-alias-decls,misc-unused-parameters,misc-unused-using-decls'

#misc-unused-alias-decls,misc-unused-parameters,misc-unused-using-decls

FormatStyle: file

# Note: it is possible to exclude specific files using ';xxx'
HeaderFilterRegex: '(apps|libs)/[a-zA-Z]+/include;-vm/include/tokeniser.hpp'

CheckOptions:
  - key:             readability-identifier-naming.FunctionCase
    value:           aNy_CasE
  - key:             readability-identifier-naming.MemberCase
    value:           lower_case
  - key:             readability-identifier-naming.PublicMemberSuffix
    value:           ''
  - key:             readability-identifier-naming.ProtectedMemberSuffix
    value:           '_'
  - key:             readability-identifier-naming.PrivateMemberSuffix
    value:           '_'
  - key:             readability-identifier-naming.ClassCase
    value:           CamelCase
  #- key:             readability-identifier-naming.EnumCase
  #  value:           CamelCase
  #- key:             readability-identifier-naming.ParameterCase
  #  value:           lower_case
  #- key:             readability-identifier-naming.UnionCase
  #  value:           CamelCase
  #- key:             readability-identifier-naming.VariableCase
  #  value:           lower_case
