---
BasedOnStyle: Google
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
IndentWidth: 2
AccessModifierOffset: -2
ConstructorInitializerIndentWidth: 2
ContinuationIndentWidth: 4
Language: Cpp
NamespaceIndentation: None
SpaceInEmptyParentheses: 'false'
SpacesInAngles: 'false'
Standard: Cpp11
UseTab: Never
ColumnLimit: 100
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignTrailingComments: true
MaxEmptyLinesToKeep: 1
ConstructorInitializerAllOnOneLineOrOnePerLine: false
BreakConstructorInitializersBeforeComma: true
BreakConstructorInitializers: BeforeComma
PointerAlignment: Right
SortUsingDeclarations: false
SortIncludes: true
BreakBeforeBraces: Custom
DerivePointerAlignment: false
KeepEmptyLinesAtTheStartOfBlocks: true
IndentCaseLabels: false
BraceWrapping:
  AfterNamespace: false
  AfterFunction: true
  AfterEnum: true
  AfterClass: true
  AfterExternBlock: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
  BeforeCatch: true
  AfterControlStatement: true
  SplitEmptyFunction: false
IncludeCategories:
  - Regex:           '^<ext/.*\.h>'
    Priority:        2
  - Regex:           '^<.*\.h>'
    Priority:        2
  - Regex:           '^<.*'
    Priority:        2
  - Regex:           '.*'
    Priority:        1
...
