Checks: "-*,\
bugprone-*,\
cert-dcl21-cpp,\
cert-dcl50-cpp,\
cert-env33-c,\
cert-err52-cpp,\
cert-err60-cpp,\
google-build-namespaces,\
google-explicit-constructor,\
google-readability-casting,\
google-readability-todo,\
google-runtime-operator,\
hicpp-exception-baseclass,\
misc-*,\
modernize-*,\
performance-*,\
readability-*,\
-readability-identifier-naming"

# To be enabled:
#   cert-err34-c
#   cert-err58-cpp
#   cert-flp30-c
#   clang-analyzer-* (undocumented for clang-tidy-6 - use build stdout to determine subset of available/desired checks)
#   cppcoreguidelines-special-member-functions
#   hicpp-signed-bitwise
