# Build Output
/*build*/
*.pyc
*.egg-info/
*.key
info.txt
*.db
CMakeCache.txt
genesis_file.json

/docs/build

# Merge Outputs
*.orig

nodes/
.ipynb_checkpoints/
/docker-images/
docker_ccache/

# Bazel Files
bazel-*

# Legacy Editors
\#*#
.\#*
*~
*.swp
*.swo
*.swn
.idea/
*.osm
tags

*.gz
*.so

*.DS_Store
*.ipynb_checkpoints/

# Legacy Editors
build-profile-summary.csv
