[submodule "vendor/asio"]
	path = vendor/asio
	url = ../../chriskohlhoff/asio.git
[submodule "vendor/pybind11"]
	path = vendor/pybind11
	url = ../../pybind/pybind11.git
[submodule "docker-images"]
	path = docker-images
	url = ../../uvue-git/docker-images.git
	ignore = dirty
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = ../../google/googletest.git
[submodule "vendor/benchmark"]
	path = vendor/benchmark
	url = ../../ejfitzgerald/benchmark.git
[submodule "vendor/mio"]
	path = vendor/mio
	url = ../../mandreyel/mio.git
