[submodule "vendor/asio"]
	path = vendor/asio
	url = ../../chriskohlhoff/asio.git
[submodule "vendor/googletest"]
	path = vendor/googletest
	url = ../../google/googletest.git
[submodule "vendor/benchmark"]
	path = vendor/benchmark
	url = ../../google/benchmark.git
