[submodule "vendor/asio"]
	path = vendor/asio
	url = https://github.com/chriskohlhoff/asio.git
[submodule "libfetchcore/vendor/pybind11"]
	path = libfetchcore/vendor/pybind11
	url = git@github.com:pybind/pybind11.git
