[pipenv]
allow_prereleases = true

[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "==1.4.4"
cmake-format = "==0.5.1"
fetchai-netutils = {editable = true,path = "./scripts/fetchai_netutils"}
pyyaml = "==5.3"

[packages]
fetchai-ledger-api = "==1.0.0rc1"
pyyaml = "*"
help = "*"
